<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
    <ion-avatar class="profile-pic" >
      <ion-img src="../../assets/images/cropped.png">
     </ion-img>
    </ion-avatar>
   <ion-card-header>
     <ion-card-title class="title_center">Peter Munyua</ion-card-title>
   </ion-card-header>
   <ion-card-content>

    I am a Front End developer with industry experience building websites and web applications. I specialize in JavaScript and have professional experience working with React and Angular. I also have experience working with Django, PHP, and Ionic. Take a look at my work or get in touch!
https://www.gitshowcase.com/munyuadeveloper 
   </ion-card-content>
 </ion-card>
</ion-content>
